/*#upload css from https://github.com/clouddueling/angularjs-drag-n-drop*/
/*----------------------------
    The file upload form
-----------------------------*/

#drop {
    background-color: #f9f9f9;
    padding: 20px 0;
    border: 2px dashed #ddd;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
}

#drop:hover {
    border: 2px dashed #08c;
    color: #08c;
}

#drop a {
    margin-top: 12px;
}

#drop input {
    display: none;
}

#file-upload {/*
    margin: 0 auto;
    width: 100%;
*/
    margin-bottom: 10px;
}

#file-upload ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}


#file-upload ul li {
    /*background-color: #f9f9f9;*/
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    margin: 5px 0;
    /*height: 52px;*/
    /*position: relative;*/
}
/*

#file-upload ul li input {
    display: none;
}

#file-upload ul li p {
    overflow: hidden;
    white-space: pre-wrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #444;
    font-size: 16px;
    */
/*position: absolute;
    top: 20px;
    left: 100px;*//*

    width: 340px;
}

#file-upload ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
    font-size: 14px;
}

#file-upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}

#file-upload ul li span {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    */
/*position: absolute;
    top: 34px;
    right: 33px;*//*

    cursor: pointer;
}

#file-upload ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}

#file-upload ul li.error p {
    color: red;
}
*/
