<div class="container">
	<div class="page-header">
		<h1>{{contact.firstname}} {{contact.lastname | uppercase}} <small><a href="#/contacts/{{contact.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a></small></h1>
	</div>

	<div class="content">
		<strong class="col-lg-2 text-right">Birthdate</strong><span class="col-10">{{contact.dateOfBirth | date:'dd/MM/yyyy'}}</span><br/>
		<strong class="col-lg-2 text-right">Email</strong><span class="col-10">{{contact.email}}</span><br/>
		<strong class="col-lg-2 text-right">Phone number</strong><span class="col-10">{{contact.phone}}</span><br/>

		<div ng-repeat="address in contact.addresses">
			<strong class="col-lg-2 text-right">Address {{address.label}}</strong><span class="col-10">{{address.numero | number}} {{address.street}}, {{address.postalCode | number}} {{address.city}}, {{address.country | uppercase}}</span><br/>
		</div>
	</div>

</div>