<div class="container">
	<div class="page-header">
		<h1>{{contact.firstname}} {{contact.lastname | uppercase}}
			<small><a href="#/contacts/{{contact.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
				<a data-toggle="modal" href="#deleteModal"><span class="glyphicon glyphicon-trash"></span></a></small>
		</h1>
	</div>

	<div class="content">
		<strong class="col-lg-2 text-right">Birthdate</strong><span class="col-10">{{contact.dateOfBirth | date:'dd/MM/yyyy'}}</span><br />
		<strong class="col-lg-2 text-right">Email</strong><span class="col-10">{{contact.email}}</span><br />
		<strong class="col-lg-2 text-right">Phone number</strong><span class="col-10">{{contact.phone}}</span><br />

		<div ng-repeat="address in contact.addresses">
			<strong class="col-lg-2 text-right">{{address.label}} Address</strong>
			<span class="col-10">{{address.number | number}} {{address.street}}, {{address.postalCode | number}}
				{{address.city}}, {{address.country | uppercase}}</span><br />
		</div>
	</div>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete {{contact.firstname}} {{contact.lastname | uppercase}} from
					your contacts?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="deleteContact()">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
