<div class="container">
	<div class="page-header">
		<h1>Import contacts <small>Drag and drop a CSV Contact File</small></h1>
	</div>

	<div
		ng-file-upload="/import"
		data-complete='uploadComplete()'
		data-error="uploadError()">
	</div>

</div>

<!-- Begin page content -->
<!--
<div class="container">
    <div id="push"></div>
    <section class="well">
        <div
                ng-file-upload="/import"
                data-complete='uploadComplete()'
                data-error="uploadError()">

                </div>
    </section>
</div>-->
