<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>This is a demo</h1>

        <p class="lead">Drag and drop a CSV Contact File</p>
    </div>
</header>

<!-- Begin page content -->
<div class="container">
    <div id="push"></div>
    <section class="well">
        <div
                ng-file-upload="/import"
                data-complete='uploadComplete()'
                data-error="uploadError()"></div>
    </section>
</div>